# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore

.git
.gitignore
.venv/
venv/
__pycache__/
.env
.DS_Store
*.pyc
frontend/
firebase.json
.firebaserc
.firebase/
triage/

# DO NOT IGNORE .pkl files - we need them for the model!
# *.pkl is commented out because we need the model files
